@model ColorEditVm
@{
	ViewData["Title"] = "New or Edit color";
}
<form method="post" asp-controller="Colors" asp-action="UpSert">
	<input type="hidden" asp-for="ColorId"/>
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">@(Model.ColorId == 0 ? "Adding new color" : "Edit color")</h2>
		</div>
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="mb-3">
			<label asp-for="ColorName">Color name</label>
			<input asp-for="ColorName" class="form-control" />
			<span asp-validation-for="ColorName" class="text-danger"></span>

		</div>

		@if (Model.ColorId == 0)
		{
					<button type="-submit" class="btn btn-success">
					<i class="bi bi-floppy"></i>
						Save
					</button>
		}
		else
		{
					<button type="-submit" class="btn btn-success">
					<i class="bi bi-floppy"></i>
						Edit
					</button>
		}

		<a asp-controller="Colors" asp-action="Index" class="btn btn-info">
			<i class="bi bi-x-square"></i>
			Cancel
		</a>

	</div>
</form>
@section Scripts {
	@{
				<partial name="_ValidationScriptsPartial"/>
	}
}